/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.42857143;
}

body {
  background-color: #02203c;
  min-height: 100vh;
  overflow: hidden;
}

.settings-grid {
  display: grid;
  gap: 20px;
  grid-auto-rows: minmax(50px, min-content);
  grid-template-columns: 1fr 1fr;
  margin: 40px 0;
}

.drawSettings{
  display: flex;
  width: 100px;
  z-index: 10000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.color-picker{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #626ee3;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colors{
  position: absolute;
  padding: 20px;
  width: 200px;
  background-color: rgb(0, 21, 40);
  transform: translateX(75%) translateY(calc(50% - 20px));
  display: flex;
  flex-direction: column;
}
.colors-panel{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:10px;
  margin-top: 10px;
}
.color{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.erase{
  all:unset;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #626ee3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  width:2px;
  height: 100%;
  background-color: #626ee3;
  transform: rotate(45deg);
}


.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' -25, 'opsz' 48;
  font-size: 2rem;
  transform: rotateY(180deg);
}

main {
  margin: auto;
  width: 98vw;
  height: calc(100vh - 40px);
}

#root{
  width: 100%;
  height: 100vh;
}

.prompt{
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #001528;
  min-width: 300px;
}
.prompt *{
  color: hsla(0, 0%, 100%, .769);
}

.prompt pre span{
  color: #fd971f !important;
}

.prompt .heading{
  color:white;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
  margin: 0 15px 0 0;
}

.prompt pre{
  background-color: #15314b;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;
  margin: 0 0 15px;
  overflow: auto;
  padding: 15px 20px;
  scrollbar-color: #bcd transparent;
  scrollbar-width: thin;
  color: white;
}

.prompt pre *{
  font-family: monospace;
}

.prompt h3{
  font-size: 16px;
  color: white;
  font-weight: 400;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

/* CodeMirror styles */
.CodeMirror,
.CodeMirror-gutters {
  background-color: #001528!important;
  letter-spacing: normal;
}

.CodeMirror * {
  font-family: monospace !important;
}

.CodeMirror-cursors {
  border-left: 1px solid #fff!important;
}

.MuiDrawer-paper .DrawerTitle {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif!important;
  font-weight: 400;
  margin-top: 40px;
  line-height: 1.3;
}

.MuiDrawer-paper * {
  border: none!important;
}

/* Typography styles */
h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.DrawerMenuName {
  font-size: 1rem!important;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif!important;
  color: hsla(0, 0%, 100%, .8)!important;
}

.accordion {
  font-weight: 600;
  padding: 10px 20px;
  background-color: #15314b;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  border-radius:4px;
}

.panel {
  max-height: 0; 
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.prompt .header{
  background-color: inherit;
  justify-content: flex-start;
}

.prompt .header div{
  margin: 0 15px 10px 0;
}

.prompt .header *{
  font-weight: 600;
  font-size: 14px;
  color: white!important;
  margin: 0 5px 0 0;
}

.dif-icon{
  background: linear-gradient(#34ed43, #369536);
  border-radius: 4px;
  box-shadow: 0 2px 5px -1px #000;
  display: inline-block;
  height: 17px;
  width: 17px;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 24
}

.accordion *{
  color: white;
}

.accordion .material-symbols-rounded{
  transition: all .2s;
  font-size: 2rem;
}
.accordion .material-symbols-rounded.active{
  transition: all .2s;
  transform: rotateZ(-180deg);
}

.panel {
  padding: 0 20px;
  max-height: 0;
  background-color: #15314b;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.panel p{
  padding: 15px 0;
}

.settingsTitle{
  font-size: 1.17em!important;
}

.MuiSelect-select {
  border: none;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header button {
  all: unset;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.submit:hover {
  background-color: #0038a0!important;
}

.header button:hover {
  background-color: #626ee3;
}

/* Split container styles */
.split {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

/* Main content styles */
.main {
  margin-top: 15px;
  height: calc(100% - 30px);
}

.column {
  flex-direction: column;
}

/* Gutter styles */
.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #626ee3;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  width: 15px!important;
}

.gutter.gutter-vertical {
  cursor: row-resize;
  height: 15px!important;
}

/* Section styles */
.section {
  background-color: #001528;
  border-radius: 8px;
}

.header, .section {
  width: 100%;
  height: 40px;
  background-color: #15314b;
  border-radius: 8px 8px 0 0;
}

.section {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: rgb(0, 21, 40);
}

/* Button styles */
.Button {
  color: white !important;
  background-color: #15314b !important;
  font-weight: bold !important;
  border: none !important;
  height: 40px !important;
}

.Button:hover {
  background-color: #626ee3 !important;
}

/* Box styles */
.box {
  width: 30%;
  min-width: 300px;
  height: 400px;
  margin: 1rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh)!important;
  z-index: 1000;
}

.box p {
  font-size: 2rem;
  font-weight: bold;
}

/* List item styles */
.list-item {
  height: 80px;
}

.list-item:hover * {
  color: #626ee3;
}

/* Button list styles */
.btn-list {
  all: unset;
}

/* Select styles */
.Select {
  height: 50px!important;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track styles */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background: #bcd;
  border-radius: 20px;
}

.CodeMirror , .CodeMirror .CodeMirror-gutters ,.cm-s-lucario.CodeMirror, .cm-s-lucario .CodeMirror-gutters ,.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters{
  background-color: #001528 !important;
}

.whiteboard{
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 4px;
}

.mode{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 90%;
  width: 90%;
  border-radius: 4px;
}

.cm-s-default .CodeMirror-line *{
  color:white!important;
}

.CodeMirror-gutters{
  border: none;
}

.CodeMirror-cursor{
  border-left: 1px solid white!important;
}
.mode.active{
  background-color: #626ee3;
}